*.bak
.ipynb_checkpoints
__pycache__
*.pyc
short.pdf
*.aux
*.out
book.ipynb
*.tex
*.toc
book.pdf
book6x9.pdf
Kalman_and_Bayesian_Filters_in_Python6x9.pdf
Kalman_and_Bayesian_Filters_in_Python.pdf
book_files
tmp
.pylint.d